*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  align-items: center;
  background-color: rgb(43, 43, 43);
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-around;
  margin-bottom: 30px;
}

input{
  outline: none;
}

button{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*header*/

.title_logo{
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin-right: 15px;
}
.search_form{
  width: 80%;
}
.search_input{
  height: 100%;
  width: 80%;
  font-size: 26px;
  
}
.search_btn{
  background-color: rgb(55, 55, 55);
  height: 100%;
  width: 45px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.search_btn img{
  width: 25px;
}

/*video list*/
.videoList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.itme_list{
  display: flex;
  width: 550px;
  margin-bottom: 30px;
  border: 1px solid #999;
  border-radius: 2px;
  cursor: pointer;
}

.item_desc{
  margin-left: 15px;
  margin-top: 15px;
}
.item_title{
  font-size: 18px;
  margin-bottom: 30px;
}
.item_date{
  display: block;
  margin-bottom: 10px;
}
.item_channelName{
  display: block;
}
/*detail*/
.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.video_detail{
  text-align: left;
  width: 80%;
}